.page-container {
  display: flex;
  height: 100%;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  max-width: 1000px; /* Adjust the maximum width as needed */
  max-height: 900px; /* Adjust the maximum height as needed */
}
