<div class="page-container">
    <app-sidebar-tasks></app-sidebar-tasks>
    <div class="content-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search by student's name">
        <div class="card-container">
            <div class="horizontal-card" *ngFor="let task of filteredTasks">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{ task.student_name }}</mat-card-title>
                        <mat-card-subtitle>{{ task.student_id }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ task.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="$event.stopPropagation(); ">Give grades</button>
                        <button type="button" class="delete-button" title="Delete task" (click)="deleteTask(task)">
                            <i class="material-icons">delete</i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
