
.example-card {
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
}

.activities-container {
  text-align: center;
}

.activities-container h1 {
  margin-top: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horizontal-card {
  margin: 10px;
}

  
.sidebar-wrapper {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-search .input-group {
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
  }
  
  .sidebar-menu a:hover {
    background-color: #ccc;
  }
  
  .sidebar-menu .material-icons {
    margin-right: 10px;
  }
  
  .page-container {
    display: flex;
  }
  
  .content-container {
    flex-grow: 1;
    padding: 20px;
  }
  