.page-container {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden; /* Add overflow property to prevent content overflow */
  }
  
  .content-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Add overflow property to enable scrolling if content exceeds container */
  }
  