<div class="page-container">
  <div class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="sidebar-menu">
        <!-- Sidebar menu items -->
        <li class="nav-item">
          <a class="nav-link" href="/stats">
            <i class="material-icons">dashboard</i>
            <span>Stats</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">notifications</i>
            <span>Notifications</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">person</i>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <div class="activities-container">
      <h1>Activities</h1>

      <div class="card-container">
        <div class="horizontal-card">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Team project</mat-card-title>
              <mat-card-subtitle>School project</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ longTextT }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="$event.stopPropagation(); toggleTableVisibility()">Give grades</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="horizontal-card">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Summer practice</mat-card-title>
              <mat-card-subtitle>School practice</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ longTextP }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="$event.stopPropagation(); toggleTableVisibility()">Give grades</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="horizontal-card">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Internship</mat-card-title>
              <mat-card-subtitle>Practice</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ longTextI }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="$event.stopPropagation(); toggleTableVisibility()">Give grades</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="table-container" *ngIf="showTable">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="onFilterKeyUp($event)" [(ngModel)]="filterValue" placeholder="Ex. Team 1">
        </mat-form-field>

        <table mat-table [dataSource]="teams" class="mat-elevation-z8">
          <!-- No. Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let team; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Team Name Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Team id</th>
            <td mat-cell *matCellDef="let team">Team {{ team.id }}</td>
          </ng-container>

          <!-- Students Column -->
          <ng-container matColumnDef="members">
            <th mat-header-cell *matHeaderCellDef>Members</th>
            <td mat-cell *matCellDef="let team">
              <ul>
                <li *ngFor="let student of team.students">{{ student.name }}</li>
              </ul>
            </td>
          </ng-container>


          <!-- Expanded Detail Column 
          <ng-container matColumnDef="expandedDetail">
            <th mat-header-cell *matHeaderCellDef>Grading area</th>
            <td mat-cell *matCellDef="let student">
              <div class="expanded-detail" *ngIf="expandedElement === student">
                <div class="grade-input">
                  <ul>
                    <li>
                      <input id="team-grade" [(ngModel)]="student.grade" placeholder="Enter grade (1-10)"
                        (click)="$event.stopPropagation()">
                    </li>
                  </ul>
                </div>
                <button class="assign-button" (click)="$event.stopPropagation()">Assign Grade</button>
              </div>
            </td>
          </ng-container>-->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let team; columns: displayedColumns;" (click)="onRowClick(team)"></tr>
          <tr mat-row *matRowDef="let team; columns: ['expandedDetail']; when: isRowExpanded"></tr>
        </table>
      </div>
    </div>
  </div>
</div>