<h1>Mentor page</h1>
<mat-tab-group>
  <mat-tab label="View teams">
    <div>
      <p>This is the view teams and offer grades tab.</p>
      <ul class="Team">
        <li *ngFor="let team of  teams">
          <button [class.selected]="team === selectedTeam" type="button" (click)="onSelect(team)">
            <span class="name">Team{{team.id}}</span>
          </button>
        </li>
      </ul>
      <div *ngIf="selectedTeam">
        <h2>Team{{selectedTeam.id}} Grade</h2>
        <div>
          <label for="team-grade">Team grade: </label>
          <input id="team-grade"  placeholder="grade from 1-10">
          <button>Assign</button>
        </div>
      </div>
      
    </div>
  </mat-tab>
  <mat-tab label="Give grades">
    <div>
      <p>This is the attendance grades tab.</p>
      <ul class="name-list">
        <li *ngFor="let name of names">
          <input type="checkbox" class="name-checkbox" /> {{ name }}
        </li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>
