.attendance-grades-tab {
  padding: 20px;
}

.name-list {
  list-style: none;
  padding: 0;
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-button {
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.grading-area {
  display: flex;
  align-items: center;
}

.grade-input {
  margin-right: 20px;
}

.attendance-checkbox {
  margin-right: 20px;
}

.assign-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.assign-button:hover {
  background-color: #0069d9;
}
.blue-button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
