<h1>Mentor Page</h1>

<div>
  <ul class="team-list">
    <li *ngFor="let team of teams">
      <div class="team-container">
        <button [class.selected]="team === selectedTeam" type="button" (click)="onSelect(team)">
          <span class="team-name">Team {{team.id}}</span>
        </button>
        <div *ngIf="team === selectedTeam" class="grading-area">
          <div class="grade-input">
            <label for="team-grade">Team Grade: </label>
            <input id="team-grade" placeholder="Enter grade (1-10)">
          </div>
          <button class="assign-button">Assign Grade</button>
        </div>
      </div>
      
      <ul class="student-list">
        <li *ngFor="let student of team.students">
          <div class="student-container">
            <label class="checkbox-button">
              <button [class.selected]="student === selectedStudent" type="button" (click)="onSelectStudent(student)">
                <span class="student-name">{{ student }}</span>
              </button>
            </label>
            <div *ngIf="student === selectedStudent" class="grading-area">
              <div class="grade-input">
                <label for="{{ student }}-grade">{{ student }}'s Grade: </label>
                <input id="{{ student }}-grade" placeholder="Enter grade (1-10)">
              </div>
              <div class="attendance-checkbox">
                <input id="{{ student }}-checkbox" type="checkbox" class="student-checkbox" />
                <label for="{{ student }}-checkbox">{{ student }}'s Attendance for Today</label>
              </div>
              <button class="assign-button">Assign Grade</button>
            </div>
          </div>
        </li>
      </ul>
      
    </li>
  </ul>
</div>
