<p>
  <mat-toolbar color="primary" class="fancy-toolbar">
    <span><h1>{{ title }}</h1></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Mentor" (click)="navigateToComponent('mentor-page')">
      <mat-icon>person</mat-icon>
      <div class="nav-label">Mentor</div>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Team Leader" (click)="navigateToComponent('students')">
      <mat-icon>person</mat-icon>
      <div class="nav-label">Team Leader</div>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Student" (click)="navigateToComponent('dashboard')">
      <mat-icon>person</mat-icon>
      <div class="nav-label">Student</div>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
