.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
}

h1.manage-team-title {
  color: #333;
  margin-bottom: 20px;
}

.add-student-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
}

.add-button {
  background-color: #c5c5c5;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.add-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.students {
  list-style: none;
  padding: 0;
}

.student-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.student-button {
  background-color: #c5c5c5;
  color: #000000;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.student-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.student-button .badge {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
  padding: 4px 8px;
  margin-right: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.505);
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}

