.student-profile {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .profile-details div {
    font-weight: bold;
  }