<div class="page-container">
  <app-sidebar-teamleader></app-sidebar-teamleader>
  <div class="content-container">
    <div class="card-container">
      <div *ngFor="let student of students" class="student-card">
        <div class="student-profile">
          <div class="icon-container">
            <i class="material-icons">person</i>
          </div>
          <h2>Student profile</h2>
          <div class="profile-details" *ngIf="student">
            <div><span>Name: </span>{{ student.name }}</div>
            <div><span>ID: </span>{{ student.id }}</div>
            <div><span>Email: </span>{{ student.email }}</div>
            <div><span>Team ID: </span>{{ student.team_id }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
