.sidebar-wrapper {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.63);
  border-radius: 4px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-search .input-group {
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.sidebar-menu a:hover {
  background-color: #ccc;
}

.sidebar-menu .material-icons {
  margin-right: 10px;
}

.page-container {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}