<div class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="sidebar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/stats">
            <i class="material-icons">dashboard</i>
            <span>Stats</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/mentor-page">
            <i class="material-icons">grade</i>
            <span>Activities</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mentor-account">
            <i class="material-icons">person</i>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>