<h2>My Grades and attendances</h2>
<mat-list class="students">
  <!--<mat-list-item *ngFor="let student of students; last as last">
      <span class="badge">date: {{student.date}}</span>
      <span class="grade">grade: {{student.grade}}  </span>
      <span class="attendance" [class.true]="student.attendance" [class.false]="!student.attendance">attendance: {{student.attendance}}</span>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>-->
  <mat-divider></mat-divider>
