h2 {
  color: #333;
}

.add-student-section {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #c5c5c5;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.students {
  list-style: none;
  padding: 0;
}

.student-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.student-button {
  background-color: #c5c5c5;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
}

.student-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.student-button .badge {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
  padding: 4px 8px;
  margin-right: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}
