<h2>My Team</h2>

<div class="add-student-section">
  <label for="new-student">Student name: </label>
  <input id="new-student" #studentName />

  <button type="button" class="add-button" (click)="add(studentName.value); studentName.value=''">
    Add student
  </button>
</div>

<ul class="students">
  <li *ngFor="let student of students">
    <div class="student-wrapper">
      <button type="button" class="student-button" routerLink="/detail/{{student.id}}">
        <span class="badge">{{student.id}}</span> {{student.name}}
      </button>
      <button type="button" class="delete-button" title="Delete student" (click)="delete(student)">x</button>
    </div>
  </li>
</ul>
