.page-container {
  display: flex;
}

.student-profile {
  text-align: center;
  margin-top: 20px;
}

.profile-details {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.profile-details div {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-details div:last-child {
  margin-bottom: 0;
}

.profile-details span {
  color: #555;
}

.profile-details span:not(:last-child)::after {
  content: ",";
  margin-right: 5px;
}

.profile-details span:last-child::after {
  content: "";
}

.profile-details span strong {
  color: #333;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

span {
  font-weight: normal;
}
.content-container {
  flex-grow: 1;
  padding: 20px;
}
.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-container i {
  font-size: 80px;
}

.student-profile h2 {
  margin-top: 0;
}